.componentStructure {
  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 0;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.tabs {
  margin: 0.4rem;
  height: 4%;
}

.toggleButton {
  position: absolute; 
  left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.toggleButton:hover {
  opacity: 1;
}
