.componentStructure {
  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-width: 240px;
  max-width: 240px;

  border-right: 1px solid var(--color-typo-system);

  background-color: var(--color-bg-secondary);
}

.tabs :global(.TabsTab:before) {
  content: none !important;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--color-typo-system);
}

.tabs_margin {
  margin-left: 1rem;
}

.toggleButton {
  position: absolute;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.toggleButton:hover {
  opacity: 1;
}
