.componentStructure {
  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 0;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

@media screen and (max-width: 1523px) {
  .componentStructure {
    flex-basis: 4%;
  }
}

.toggleButton {
  position: absolute; 
  left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.toggleButton:hover {
  opacity: 1;
}

.tabs{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 13px;
}

.pageBlock {
  display: flex;
  padding-left: 10px;
  padding-top: 3px;
}

.activeBackground {
  background: rgba(0, 32, 51, 0.08);
}

.buttonLeft {
  display: flex;
  width: 90%;
  align-items: center;
}

.buttonRight{
  display: flex;
  width: 10%;
}

.pages{
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  min-height: 10%;
  overflow-y: auto;
  height: 23%;
  padding-left: 10px;
  padding-top: 3px;
}