.settingsBlock {
  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.settingsContainer {
  padding: var(--space-s);
  min-width: 35rem;
  max-width: 35rem;

  border-left: 1px solid var(--color-typo-system);
}

.elementSettings {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.buttonsSaveLoad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toggleButton {
  position: absolute;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.toggleButton:hover {
  opacity: 1;
}

.exportText {
  display: flex;
  align-items: flex-end;
}

.exportButton {
  margin-left: var(--space-xs);
}
