
.rowSettings {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--space-xs);
}

.elementSettings {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: var(--space-xs);
}

.exportButton {
  margin-top: var(--space-xs);
}
