.settingsBlock {
  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
}

.settingsContainer {
  padding-left: var(--space-xs);
  padding-bottom: var(--space-xs);
  padding-top: 0;
  min-width: 240px;
  max-width: 240px;

  border-left: 1px solid var(--color-typo-system);
}

.rowSettings {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--space-xs);
}

.elementSettings {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: var(--space-xs);
}

.buttonsSaveLoad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toggleButton {
  position: absolute;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.toggleButton:hover {
  opacity: 1;
}
.settingsTitle {
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space-xs);
  padding-top: var(--space-xs);
  padding-right: var(--space-xs);

}
.exportText {
  padding-top: var(--space-xs);
  display: flex;
  align-items: flex-end;
}

.exportButton {
  margin-top: var(--space-xs);
}
