{
  "trailingComma": "all",
  "singleQuote": true,
  "endOfLine": "crlf",
  "jsxBracketSameLine": true,
  "semi": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true
  }