.select_container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--space-xs);
}
.select_option {
    display: flex;
    height: var(--control-height-xs);
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
    border-radius: var(--control-radius);
}
.icon {
    display: flex;
    align-items: center;
    margin-left: var(--space-2xs);
}
.iconItem {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding-top: var(--space-3xs);
}
