.selectableLayerFormElement {
  width: fit-content;
  height: fit-content;
}

.selectableLayerLayoutElement {
  all: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

.selectedElement {
  box-SHADOW: inset 0 0 0rem 0.2rem rgba(39, 50, 245, 0.8);
  border-radius: 0.5rem;
}

.selectedLayerOutline {
  outline: none;
}

.fitSpace {
  flex-grow: 1;
}
