.selectableLayerFormElement {
  width: fit-content;
  height: fit-content;
}

.selectableLayerLayoutElement {
  all: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

.selectedElement {
  border: 0.2rem solid rgba(39, 50, 245, 0.8);
  border-radius: 0.5rem;
}

.fitSpace {
  flex-grow: 1;
}
