.selectableLayerFormElement {
  width: fit-content;
  height: fit-content;
}

.selectableLayerLayoutElement {
  all: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

.selectedLayerOutline {
  outline: none;
  border-width: 0.2rem;
  border-style: solid;
  border-color: transparent;
}

.selectedElement {
  border-radius: 0.5rem;
  border-color: rgba(39, 50, 245, 0.8);
  overflow: hidden;
}

.fitSpace {
  flex-grow: 1;
}
