.selectableLayerFormElement {
  width: fit-content;
  height: fit-content;
}

.selectableLayerLayoutElement {
  flex: inherit;
  flex-direction: inherit;
}

.selectedElement {
  border: 0.2rem solid rgba(39, 50, 245, 0.8);
  border-radius: 0.5rem;
}
