.fullScreen {
  display: flex;
  flex: 1;
}

.list {
  padding: 10px;
}

.modalOpen {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.commonInfo {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.icon {
  cursor: pointer;
}
