.componentGroupCard {
  display: flex;
  justify-content: space-between;
}

.componentGroupCardCollapse {
  flex: 1;
}

.componentGroupCardName{
  padding-top: 12px;
  padding-left: 12px;
  font-size: 10px; 
}