.componentGroupCard {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-top: var(--space-s);
}

.componentGroupCardCollapse {
  flex: 1;
}
