.componentGroupCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  padding-top: var(--space-xs);
}

.componentGroupCardCollapse {
  flex: 1;
}
