.root {
  flex-grow: 1;
  padding: 5px;
}

.pane {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-secondary);
  flex-basis: 1px;
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
}

.pie {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 1px;
}
