.headerContainer {
  height: var(--graphics-size-l);
  background-color: var(--color-bg-stripe);
  justify-content: space-between;
  align-items: center;
  padding-left: var(--graphics-size-s);
  padding-right: var(--graphics-size-s);
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
}
.projectName {
  justify-content: space-between;
  align-items: center;
}
