.headerContainer {
  height: var(--graphics-size-l);
  background-color: var(--color-bg-secondary);
  justify-content: space-between;
  align-items: center;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
  border-bottom: 1px solid var(--color-bg-border);
}
.projectName {
  justify-content: space-between;
  align-items: center;
}
.divider {
  border-right: 1px solid var(--color-bg-border);
  height: 12px;
  margin-left: var(--space-2xs);
  margin-right: var(--space-2xs);
}