.settingsBlockChoiceGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.settingsBlockRow {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.settingsBlockRowCollapse {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
  padding-top: var(--space-s);
}

.elementWidth {
  flex: 1;
}

.selectElement {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.SelectItemActive {
  color: var(--color-control-typo-secondary);
  border-left-color: var(--color-control-typo-secondary);
  border-left-width: 2px;
  border-left-style: solid;
}

.SelectItem:hover {
  background-color: var(--color-control-bg-clear-hover);
}

.BorderLeftItem {
  color: var(--color-control-typo-secondary);
  margin-left: var(--space-2xs);
}

.selectRenderValue {
  display: flex;
}