.settingsBlockList {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.settingsBlockRow {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.elementWidth {
  display: flex;
  padding-top: var(--space-s);
}
