.content {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
  width: 100%;
}
.topElement {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.middleElement {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
}
.bottomElement {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 376px;
  min-height: 227px;
  margin-bottom: 10px;
}

.card_title {
  text-align: start;
}

.card_mid_content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 65, 102, 0.2);
  margin: 15px 0px;
  padding: 10px 0px;
}

.card_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2px 0px;
}

.card_inner_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0px 5px;
  overflow: hidden;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tags {
  margin: 0px 3px;
}

.badge {
  margin-right: 3px;
}

.card_last_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
