.baseComponentsPanel {
  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  height: 48%;
}

.buttonsSaveLoad {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 15%;
}

.baseComponents {
  display: flex;
  flex-direction: column;
  flex: content;
  overflow-y: auto;
  height: 85%;
}
