.SelectVariants.Select {
  position: absolute;
  top: var(--space-l);
  width: 100%;
  max-width: 400px;
  padding: var(--space-m);
}
.SelectVariants-MyItem {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  color: var(--text-color);
}
.SelectVariants-MyItem_hovered {
  background-color: var(--color-control-bg-clear-hover);
}
.SelectVariants-MyItem_active {
  --text-color: var(--color-control-typo-secondary);
}
.SelectVariants-MyItem_disabled {
  --text-color: var(--color-control-typo-disable);
}
.SelectVariants-MyItem_active::before {
  background-color: var(--text-color);
}
