.layoutSettings {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.rowSettings {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.columnSettings {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  flex: 1;
  align-self: flex-end;
}

.widthFlex {
  flex: 1;
}

.columnSettingsWithoutRow {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  flex: 1;
}

.selectElement {
  display: inline-flex;
  align-items: center;
  gap: var(--space-s);
  padding-left: var(--space-2xs);
}

.SelectItemActive {
  color: var(--color-control-typo-secondary);
}

.SelectItem:hover {
  background-color: var(--color-control-bg-clear-hover);
}

.BorderLeftItem {
  color: var(--color-control-typo-secondary);
  border-left-color: var(--color-control-typo-secondary);
  border-left-width: 2px;
  border-left-style: solid;
}
