.layoutSettings {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.rowSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.settingCaption {
  padding: var(--space-2xs) var(--space-xs);
}

.columnSettings {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-xs);
}
.labelMarginTop {
  margin-top: var(--space-xs);
}

.widthFlex {
  flex: 1;
}

.columnSettingsWithoutRow {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.selectElement {
  display: inline-flex;
  align-items: center;
  gap: var(--space-s);
  padding-left: var(--space-2xs);
}
.icon {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.SelectItemActive {
  color: var(--color-control-typo-secondary);
}

.SelectItem:hover {
  background-color: var(--color-control-bg-clear-hover);
}

.BorderLeftItem {
  color: var(--color-control-typo-secondary);
  border-left-color: var(--color-control-typo-secondary);
  border-left-width: 0.125rem;
  border-left-style: solid;
}
