.formBlock {
  flex-grow: 1.5;
  flex-shrink: 1;
  flex-basis: 0;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.formBlockContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}
