.cardLayout {
  display: flex;
  border: var(--space-3xs) solid #00416633;
  border-radius: var(--space-2xs);
}

.borderOut {
  border: var(--space-3xs) dashed #00416633;
  width: var(--space-2xl);
  height: var(--space-4xl);
  margin: var(--space-2xs);
}

.borderIn {
  border: var(--space-3xs) dashed #00416633;
  width: var(--space-5xl);
  height: var(--space-4xl);
  margin: var(--space-2xs);
}

.borderInIn {
  border: var(--space-3xs) dashed #00416633;
  width: var(--space-4xl);
  height: var(--space-xl);
  margin: var(--space-s);
}

.marginText {
  margin-left: var(--space-2xs);
}

.layerOut {
  display: flex;
  flex-direction: column;
  padding: var(--space-2xs);
}

.borderFlex {
  display: flex;
  flex-direction: row;
}
