.userContainer {
  margin-left: 31px;
}

.headerLeft {
  display: flex;
}

.headerLeftText {
  margin-left: 18px;
}

.container {
  padding: 17.5px 31px;
  border-bottom: 1px solid rgba(0, 65, 102, 0.2);
}
