.stylesColumn {
    height: 2.4rem;
    background-color: aquamarine;
}

.stylesRow {
    width: 2.4rem;
    background-color: aquamarine;
}

.droppableLocalLayerLayoutElement {
    display: inherit;
    flex: inherit;
    flex-direction: inherit;
    border: 0;
    padding: 0;
    margin: 0;
}

.droppableLocalLayerFormElement {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: inherit;
}