.baseSettingsContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--space-2xs);
}
.baseContainer{
  display: flex;
  gap: var(--space-m);
  border-top: 1px solid var(--color-bg-system);
  margin-top: var(--space-xs);
}
.baseContainerCol{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.arrowAndText {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

.textDecoration {
  padding-right: var(--space-s);
  padding-top: var(--space-s);
  margin-bottom: var(--space-xs);
}
.saveModal {
  width: 600px;
  height: 104px;
  padding: var(--space-xs);

  min-height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.saveModalContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
.saveModalButton{
  width: 58px;
}