.marginAndPadding {
  display: flex;
  flex-direction: row;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.arrowAndText {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

.textDecoration {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-top: var(--space-s);
}
