.componentCard {
  display: flex;
  align-items: center;
}
.componentCardContainer {
  display: flex;
  min-height: 24px;
  align-items: center;
  justify-content: space-between;
}
.componentCardContainer:hover {
  background-color: var(--color-control-bg-ghost);
  cursor: pointer;
}
.text {
  padding-left: var(--space-2xs);
}
