.componentCard {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid var(--color-bg-border);
  min-height: 24px;
}

.text {
  padding-left: var(--space-2xs);
}
