.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primaryText {
    margin-top: var(--space-xl);
}

.secondaryText {
    margin-top: var(--space-xs);
}

.button {
    margin-top: var(--space-xl);
}