.componentCard {
  flex: 1;
  display: flex;

  min-height: 24px;
  max-height: 24px;
}
.componentCard:hover {
  background-color: var(--color-control-bg-ghost);
  cursor: pointer;
}
.paddingText {
  padding-left: var(--space-2xs);
}
.labelContainer {
  flex-grow: 1;
  align-items: center;
  display: flex;
}