.buttonPropsSettings {
  display: flex;
  flex-direction: column;
}

.rowSettings {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.columnSettings {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  flex: 1;
}

.blockIcon {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.renderIcon {
  display: flex;
  align-items: center;
}


.sizeFlex {
  flex: 1;
}
.rowSettings {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--space-xs);
}