.delimeter::after {
  display: block;
  content: '';
  margin: 0 16px;
  border-right: 0px;
  border-style: solid;
  border-color: #004166;
  opacity: 0.2;
}

.userContainer {
  margin-left: 31px;
}

.container {
  padding: 17.5px 31px;
  border-bottom: 1px solid rgba(0, 65, 102, 0.2);
}
